<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xqxy.sys.modular.cust.mapper.ConsTopologyFileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xqxy.sys.modular.cust.entity.ConsTopologyFile">
        <id column="id" property="id" />
        <result column="CONS_ID" property="consId" />
        <result column="file_id" property="fileId" />
        <result column="file_type" property="fileType" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_USER" property="createUser" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="UPDATE_USER" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, CONS_ID, file_id, file_type, CREATE_TIME, CREATE_USER, UPDATE_TIME, UPDATE_USER
    </sql>

</mapper>
