<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xqxy.dr.modular.bidding.mapper.BiddingSequenceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xqxy.dr.modular.bidding.entity.BiddingSequence">
        <id column="sequence_id" property="sequenceId" />
        <result column="notice_id" property="noticeId" />
        <result column="CONS_ID" property="consId" />
        <result column="RESPONSE_TYPE" property="responseType" />
        <result column="TIME_TYPE" property="timeType" />
        <result column="advance_notice_time" property="advanceNoticeTime" />
        <result column="START_TIME" property="startTime" />
        <result column="END_TIME" property="endTime" />
        <result column="CONTRACT_PRICE" property="contractPrice" />
        <result column="CONTRACT_CAP" property="contractCap" />
        <result column="sequence_no" property="sequenceNo" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_USER" property="createUser" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="UPDATE_USER" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sequence_id, notice_id, CONS_ID, RESPONSE_TYPE, TIME_TYPE, advance_notice_time, START_TIME, END_TIME, CONTRACT_PRICE, CONTRACT_CAP, sequence_no, CREATE_TIME, CREATE_USER, UPDATE_TIME, UPDATE_USER
    </sql>

</mapper>
